<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <span class="copyright">© 2026 Octavio. Todos los derechos reservados.</span>
      
      <div class="social-links">
        <a href="https://github.com/OctavioSesana" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/octavio-sesana-0a1918236/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="mailto:octasesana@gmail.com"><i class="fas fa-envelope"></i></a>
      </div>
    </div>
  </div>
</footer>